<html>

<head>
    <title>심플한 드롭다운 레이어 메뉴</title>
    <script type="text/javascript">
        var TimeOut = 300;
        var currentLayer = null;
        var currentitem = null;
        var currentLayerNum = 0;
        var noClose = 0;
        var closeTimer = null;
        // Open Hidden Layer
        function mopen(n) {
            var l = document.getElementById("menu" + n);
            var mm = document.getElementById("mmenu" + n);

            if (l) {
                mcancelclosetime();
                l.style.visibility = 'visible';
                if (currentLayer && (currentLayerNum != n))
                    currentLayer.style.visibility = 'hidden';
                currentLayer = l;
                currentitem = mm;
                currentLayerNum = n;
            } else if (currentLayer) {
                currentLayer.style.visibility = 'hidden';
                currentLayerNum = 0;
                currentitem = null;
                currentLayer = null;
            }
        }
        // Turn On Close Timer
        function mclosetime() {
            closeTimer = window.setTimeout(mclose, TimeOut);
        }
        // Cancel Close Timer
        function mcancelclosetime() {
            if (closeTimer) {
                window.clearTimeout(closeTimer);
                closeTimer = null;
            }
        }
        // Close Showed Layer
        function mclose() {
            if (currentLayer && noClose != 1) {
                currentLayer.style.visibility = 'hidden';
                currentLayerNum = 0;
                currentLayer = null;
                currentitem = null;
            } else {
                noClose = 0;
            }
            currentLayer = null;
            currentitem = null;
        }
        // Close Layer Then Click-out
        document.onclick = mclose;
    </script>
    <style>
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }
        
        .one {
            float: left;
        }
        
        .one>li {
            float: left;
        }
        
        .one ul {
            display: none;
            position: absolute;
            left: 90px;
            top: 25px;
        }
        
        .one li:hover>ul {
            display: block;
        }
    </style>
</head>

<body>
    <ul class="one">
        <li><a href="#">Menu1</a>
            <ul>
                <li><a href="#">sub Menu1</a></li>
                <li><a href="#">sub Menu2</a></li>
                <li><a href="#">sub Menu3</a></li>
            </ul>
        </li>
        <li><a href="#">Menu2</a>
            <ul>
                <li><a href="#">sub Menu1</a></li>
                <li><a href="#">sub Menu2</a></li>
                <li><a href="#">sub Menu3</a></li>
            </ul>
        </li>
        <li><a href="#">Menu3</a>
            <ul>
                <li><a href="#">sub Menu1</a></li>
                <li><a href="#">sub Menu2</a></li>
                <li><a href="#">sub Menu3</a></li>
            </ul>
        </li>
    </ul>
</body>

</html>