<!DOCTYPE html>
<html lang="en">

<head>
    <title>수면깡 메인페이지</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 쿠키 사용을 위한 Jquery-cookie 임포트 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jalggang.css')}}?ver=7">
    <script>
        // 로딩 후 바로 실행
        $(document).ready(function () {
            if ($.cookie('mytoken') == undefined) {
                // mytoken이라는 값으로 쿠키가 없으면, 로그인 창으로 이동시킵니다.
                alert('먼저 로그인을 해주세요')
                window.location.href = '/login'
            } else {
                // 쿠기가 있으면, 유저 정보를 불러옵니다.
                load_user_info()

            }
        });

        function load_user_info() {
            $.ajax({
                type: "GET",
                url: "/api/nick",
                headers: {
                    'token_give': $.cookie('mytoken')
                },
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 올바른 결과값을 받으면 nickname을 입력해줍니다.
                        $('#nickname').text(response['nickname'])
                    } else {
                        // 에러가 나면 메시지를 띄우고 로그인 창으로 이동합니다.
                        alert(response['msg'])
                        window.location.href = '/login'
                    }
                }
            })
        }


        // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
        function logout() {
            $.removeCookie('mytoken');
            alert('로그아웃!')
            window.location.href = '/login'
        }
    </script>
    
    
</head>
<body>
    <header>
        <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top bg-black"
            style="padding: 0%; background-color: black;">
            <a class="nav-link" href="/jalggang">
                <img src="{{ url_for('static', filename='css/images/logo(black).jpg') }}" width="70px" height="50px" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/jalggang">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="logout()">LOGOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://kjhnav.dothome.co.kr/PSQI.php" target="_blank">DIAGNOSE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mypage">MY PAGE</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                        style="height: 44px;">
                    <a id="nav" class="nav-link" href="#">
                        <img src="{{ url_for('static', filename='css/images/search.png') }}" width="31px" height="31px" />
                    </a>
                </form>
            </div>
        </nav>
    </header>
    <main role="main">


        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!-- 슬라이드 쇼 -->
                <div class="carousel-item active">
                    <!--가로--><img class="d-block w-100" src="{{ url_for('static', filename='css/images/slide1.jpg') }}"
                        alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>양질의 수면을 원하십니까?<br>예약하십시오.</h1>
                    </div>
                </div>
                <div class="carousel-item"> <img class="d-block w-100"
                        src="{{ url_for('static', filename='css/images/slide2.jpg') }}" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>남다른 클라스의 솔루션을 경험해 보십시오.<br>예약하십시오.</h1>
                    </div>
                </div>
                <div class="carousel-item"> <img class="d-block w-100"
                        src="{{ url_for('static', filename='css/images/slide3.jpg') }}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>불규칙한 수면패턴은 만병의 근원입니다.<br>예약하십시오.</h1>
                    </div>
                </div>
                <!-- / 슬라이드 쇼 끝 -->
                <!-- 왼쪽 오른쪽 화살표 버튼 -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev"> <span
                        class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <!-- <span>Previous</span> -->
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next"> <span
                        class="carousel-control-next-icon" aria-hidden="true"></span>
                    <!-- <span>Next</span> --></a>
                <!-- / 화살표 버튼 끝 -->
                <!-- 인디케이터 -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <!--0번부터시작-->
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <!-- 인디케이터 끝 -->

            </div>
        </div>

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img id="image1" src="{{ url_for('static', filename='css/images/bulb.png') }}">
                    <h2><br>오늘의 솔루션</h2>
                    <p><br>회원님의 최적의 수면을 위한 솔루션을 <br> 제공해 드립니다.</p>
                    <p><br><br><a class="btn btn-secondary" href="/solution" role="button">View details »</a></p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img id="image2" src="{{ url_for('static', filename='css/images/script.png') }}">
                    <h2><br>진단</h2>
                    <p><br>회원님의 수면상태를 판단해 드립니다.<br>전문성을 검증받은 진단지를 사용합니다.</p>
                    <p><br><a class="btn btn-secondary" href="http://kjhnav.dothome.co.kr/PSQI.php" target="_blank">View details »</a>
                    </p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img id="image3" src="{{ url_for('static', filename='css/images/calendar.png') }}">
                    <h2><br>상담예약/확인</h2>
                    <p><br>전문 상담사와 상담 예약을 잡으십시오.<br>수면의 질을 넘어, 당신의 인생이 달라집니다.</p>
                    <p><br><a class="btn btn-secondary" href="http://15.164.163.148:5001/" target="_blank"
                            role="button">View details »</a></p>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider" style="border: solid 1px white">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">상담사 김동현</h2>
                    <p class="lead"><br><br><br>여친구함!!<br>(윙크) 잘자요~</p>
                </div>
                <div class="col-md-5">
                    <img id="counselor1" src="{{ url_for('static', filename='css/images/donghyun.jpg') }}">
                </div>
            </div>

            <hr class="featurette-divider" style="border: solid 1px white">

            <div class="row featurette">
                <div class="col-md-7 order-md-2" style="text-align: right;">
                    <h2 class="featurette-heading">상담사 이진아</h2>
                    <p class="lead"><br><br><br>강남대학교 컴퓨터공학과 우주킹왕쨩 진쨩</p>
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img id="counselor2" src="{{ url_for('static', filename='css/images/jinah.jpg') }}">
                </div>
            </div>

            <hr class="featurette-divider" style="border: solid 1px white">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">상담사 오희진</h2>
                    <p class="lead"><br><br><br>아우내 대표 귀요미<br>카와이팸 1기 회장</p>
                </div>
                <div class="col-md-5">
                    <img id="counselor3" src="{{ url_for('static', filename='css/images/heejin.jpg') }}">
                </div>
            </div>

            <hr class="featurette-divider" style="border: solid 1px white">

            <div class="row featurette">
                <div class="col-md-7 order-md-2" style="text-align: right;">
                    <h2 class="featurette-heading">상담사 조영진</h2>
                    <p class="lead"><br><br><br>강남대 조인성<br>인성 문제 없음<br>믿거조 아님<br>먹는거 잘함</p>
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img id="counselor2" src="{{ url_for('static', filename='css/images/youngjin.jpg') }}">
                </div>
            </div>

            <hr class="featurette-divider" style="border: solid 1px white">

            <!-- /END THE FEATURETTES -->

        </div>
        <!-- /.container -->


        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>© 2017-2020 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
    </main>

</body>

</html>