<!doctype html>
<html lang="en">

<head>
    <title>로그인페이지</title>
    <!-- Webpage Title -->
    <title>Hello, world!</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- 쿠키 사용을 위한 Jquery-cookie 임포트 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/jalggang.css')}}?ver=1">
    <script>
        // ['쿠키'라는 개념에 대해 알아봅시다]
        // 로그인을 구현하면, 반드시 쿠키라는 개념을 사용합니다.
        // 페이지에 관계없이 브라우저에 임시로 저장되는 정보입니다. 키:밸류 형태(딕셔너리 형태)로 저장됩니다.
        // 쿠키가 있기 때문에, 한번 로그인하면 네이버에서 다시 로그인할 필요가 없는 것입니다.
        // 브라우저를 닫으면 자동 삭제되게 하거나, 일정 시간이 지나면 삭제되게 할 수 있습니다.
        function login() {
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {
                    id_give: $('#userid').val(),
                    pw_give: $('#userpw').val()
                },
                success: function(response) {
                    if (response['result'] == 'success') {
                        // 로그인이 정상적으로 되면, 토큰을 받아옵니다.
                        // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장합니다.
                        $.cookie('mytoken', response['token']);

                        alert('로그인 완료!')
                        window.location.href = '/jalggang'
                    } else {
                        // 로그인이 안되면 에러메시지를 띄웁니다.
                        alert(response['msg'])
                    }
                }
            })
        }
    </script>
</head>

<body>
    <header>
        <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top bg-black"
            style="padding: 0%; background-color: black;">
            <a class="nav-link" href="/jalggang">
                <img src="{{ url_for('static', filename='css/images/logo.png') }}" width="70px" height="50px" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/jalggang">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="logout()">LOGOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://kjhnav.dothome.co.kr/PSQI.php" target="_blank">DIAGNOSE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mypage">MY PAGE</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                        style="height: 44px;">
                    <a id="nav" class="nav-link" href="#">
                        <img src="{{ url_for('static', filename='css/images/search.png') }}" width="31px" height="31px" />
                    </a>
                </form>
            </div>
        </nav>
    </header>
    <div id="LoginPanel" class="Panel">
        <h5>For Good Sleep & Life Style</h5>
        <h1>로그인</h1>
    </div>
    <div id="LoginBox">
        <h1>로그인 페이지</h1>
        <div>
            <div class="form-group">
                <label for="userid">ID</label>
                <input type="email" class="form-control" id="userid" aria-describedby="emailHelp" placeholder="My ID">
            </div>
            <div class="form-group">
                <label for="userpw">PW</label>
                <input type="password" class="form-control" id="userpw" placeholder="My Password">
            </div>
            <button class="btn btn-primary" onclick="login()">로그인</button>
            <a href="/register">회원이 아니라면?</a>
        </div>
    </div>

    <hr class="featurette-divider">

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2020 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
</body>

</html>